/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 19, 2021, 12:45:17 PM
    Author     : Taufiiq Azman
*/

.title1{
    margin-top: 20px;
    margin-left: 100px;
}